<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>WEBデザイン講習　課題2回目</title>
</head>
<body>
    <main>
        <header>
            <div class="logo"><img src="../img/logo.png" alt="ロゴ"></div><div class="catchcopy"><p class="toptxte">可愛い猫ちゃんたちと遊べるCafe</p></div><div class="tel"><p class="toptext">000-000-0000</p></div>
        </header>
        <div class="menu">
            <nav>
                <ul class="topmenu">
                    <li class="listclor"><a href="#">About</a></li>
                    <li class="listclor2"><a href="#">Menu</a></li>
                    <li class="listclor"><a href="#">Blog</a></li>
                    <li class="listclor2"><a href="#">Map</a></li>
                    <li class="listclor"><a href="#">Link</a></li>
                </ul>
            </nav>
        </div><!--menu-->
        <div class="topimage"><img src="../img/cafemain.png" alt="メイン画像"></div>
        <div class="maincontents">

            <div class="animalbox">
                <h1>猫ちゃん紹介</h1>
                <div class="catbox">
                    <div class="catimage">
                        <div class="animalimage"><img src="../img/boss.jpg" alt="ボス"></div>
                        <div class="animaltext"><p>ボス猫のボスくん。このどっしり構えた顔が可愛いです。</p></div>
                    </div>
                    <div class="catimage">
                        <div class="animalimage"></div>
                        <div class="animaltext"></div>
                    </div>
                    <div class="catimage">
                        <div class="animalimage"><img src="../img/meru.jpg" alt="メル"></div>
                        <div class="animaltext">メルちゃん。うっとり眠そうな顔が可愛いです。</div>
                    </div>
                    <div class="catimage">
                        <div class="animalimage"></div>
                        <div class="animaltext"></div>
                    </div>
                    <div class="catimage">
                        <div class="animalimage"><img src="../img/rita.jpg" alt="リタ"></div>
                        <div class="animaltext">リタくん。大好きな毛布の中でのんびりしています。</div>
                    </div>
                </div>
            </div><!--animalbox-->

            <div class="animalmovie">
                <h1>ルーム内の様子</h1>
                <div class="movietext">
                    <div class="caferoombox">
                        <img src="../img/caferoom01.jpg">
                        <div class="movietxtebox">
                            <p>お店に入るとすぐに、ボスくんがお出迎えしてくれます。</p>
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="caferoombox">
                        <div class="movietxtebox"><p>猫Cafeの日常風景を御覧ください。</p></div>
                        <div class="moviebox"><iframe width="100%"src="https://www.youtube.com/embed/mN6YPsWOmYo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                    </div>
                </div>
            </div><!--animalmovie-->

            <div class="detailed">
                <h1>お店紹介</h1>
                <div class="shoptext">
                    <img  class="shopimage" src="../img/cattower.jpg" alt="キャットタワー"><p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を</p>
                    <p class="clear"></p>
                </div>
                
            </div>

            <div class="news">
                <h1>新着情報</h1>
                <p>××/××　○○○○○○○○○</p>
                <p>××/××　○○○○○○○○○</p>
                <p>××/××　○○○○○○○○○</p>
                <p>××/××　○○○○○○○○○</p>
            </div>

            <div class="summary">
                <h1>店舗情報</h1>
                <div class="textmap">
                    <div class="summarytext"><h2>猫Cafe</h2>
                    <p>〒160-0022 </p>
                    <p>東京都新宿区新宿３丁目３１−５ 新宿ペガサス館 6 階</p></div>
                    <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6480.888738959901!2d139.703688!3d35.690681!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb3443448abf7b338!2z54yr44Kr44OV44Kn44Oi44Kr44Op44Km44Oz44K4IOaWsOWuv-W6lw!5e0!3m2!1sja!2sjp!4v1635570199165!5m2!1sja!2sjp" width="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
                </div>
            </div><!--summary-->

            <div class="form">
                <h1>お問い合わせ</h1>
                <div class="formbox">
                    <form action="" method="post">
                
                        <p>氏名</p>
                
                        <input type="text" name="name">               
                
                        <p>メールアドレス</p>
                
                        <input type="text" name="e_mail">

                        <p>お問い合わせ内容</p>

                        <textarea rows="4">お問い合わせ内容を記載ください</textarea>
                
                        <button type="submit" name="send" value="form">送信</button>
                    </form>
                
                </div>
            </div>
        </div><!--maincontents-->

        <footer>
            <div class="logo"><img src="../img/logo.png" alt="ロゴ"></div>
            <div class="footermenubox">
                <div class="footermenu">
                    <nav>
                        <ul class="footermenulist">
                            <li class="listclor"><a href="#">Menu</a></li>
                            <li class="listclor2"><a href="#">Menu</a></li>
                            <li class="listclor"><a href="#">Menu</a></li>
                            <li class="listclor2"><a href="#">Menu</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footermenu">
                    <nav>
                        <ul class="footermenulist">
                            <li class="listclor"><a href="#">Menu</a></li>
                            <li class="listclor2"><a href="#">Menu</a></li>
                            <li class="listclor"><a href="#">Menu</a></li>
                            <li class="listclor2"><a href="#">Menu</a></li>
                        </ul>
                    </nav>
                </div>
            </div><!--footermenubox-->
            <div class="tel"></div>
        </footer>
        <div class="copyright"><p>Copyright &copy;2021 NekoCafe inc. All Rights Reserved.</p></div>

    </main>
</body>
</html>